# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ajfmqjpczpghxwhazfgk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqZm1xanBjenBnaHh3aGF6ZmdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMTYyODYsImV4cCI6MjA5MTY5MjI4Nn0.bCpJmgvsw_gcTpXhrHnrPnTO01RnpgrOcl59fAdqQhc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqZm1xanBjenBnaHh3aGF6ZmdrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjExNjI4NiwiZXhwIjoyMDkxNjkyMjg2fQ.MG6ZKjCsu2JLO_u1sOre7_f5e4eMtd8Sru7tG1q_ylY

# Stripe
STRIPE_SECRET_KEY=sk_test_51TM8R11pJucXhqhw3on91JKYC2g4k0apaDSpBun4vBlZ1K8pPwk7NdBZFO5klbUPzMChfAgFnlFKCqjnW5ZjIc2V00gC00fQSl
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TM8R11pJucXhqhwoj6xTb6ONQ7UzkNLbHjWEAKMRB62wPcdklBmlhqjjAxfVyfKYVFan3M1EJvJXRP3xkh7c1Hm00TY6tmOkE
STRIPE_WEBHOOK_SECRET=whsec_IPLYNahFFkwb8FzJErPywCpC18rvgcmB

# GoHighLevel CRM
GHL_API_KEY=pit-1a887c14-92a1-49aa-9bc8-e519307c1cc1
GHL_BOOKING_WEBHOOK_URL=https://links.tothrooms.com/
GHL_BOOKING_CONFIRMED_WEBHOOK_URL=https://links.tothrooms.com/
GHL_CONTACT_WEBHOOK_URL=https://links.tothrooms.com/
GHL_LOCATION_ID=aPDe54u7wjwtWW2y9QWn

# Cron security
CRON_SECRET=your-cron-secret-here

# Site
NEXT_PUBLIC_SITE_URL=https://tothrooms.com

# Email (Resend)
RESEND_API_KEY=
EMAIL_FROM_ADDRESS=
